@import '../_vars.scss';
@import '../_components.scss';
@import '../template';
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Cormorant+Garamond:ital,wght@0,300;0,500;1,400&family=Dancing+Script&family=Jost:wght@400;600&family=Marck+Script&family=Open+Sans&family=Playfair+Display:ital@1&family=Roboto:wght@100;300;400;500&family=Yellowtail&display=swap');@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Cormorant+Garamond:ital,wght@0,300;0,500;1,400&family=Dancing+Script&family=Jost:wght@400;600&family=Marck+Script&family=Open+Sans&family=Playfair+Display:ital@1&family=Roboto:wght@100;300;400;500&family=Yellowtail&display=swap');
$font: 'Roboto', sans-serif;
$fonttext: 'Open Sans', sans-serif;
$fontfantasy: 'Yellowtail', cursive;
$colordark:#274C5B;
$colorlight:#7EB693;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: $font;
    font-size: 70px;
    color: $colordark;
    
}
h2 {
    font-family:  $font;
    font-size: 50px;
    color: $colordark;
}
h3 {
    font-family: $fontfantasy;
    font-size: 36px;
    color: $colorlight;
}
h4 {
    font-family: $font;
    font-size: 25px;
    color: $colordark;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    font-family: $font-roboto;
    font-size: 38px;
    font-weight: bolder;
    color: $colordark;
    display: flex;
    gap: 1rem;
}

.nav {
    display: flex;
    gap: 25px;
    padding-left: 170px;
}

.nav a {
    text-decoration: none; 
    color: $colordark;
    font-family: $font-roboto;
    font-size: 20px;
    font-weight: bolder;
}


.search {
    padding-left: 150px;
}

.banner {
    background-image: url(/assets/images/homeImg/BannerBackground.png);
    background-size: cover;
    display: grid;
    background-color:#edebec;
    grid-template-columns: repeat (2, 1fr);
    grid-template-rows: 1fr;
}

.slogan {
    width: 800px;
    display: grid;
    grid-column: 1/2;
    grid-template-rows: repeat (3, 1fr);
    align-content: center;
    padding-left: 260px;
}

.bannerpic {
    display: grid;
    grid-column: 2/3;
    opacity: 0.9;
}

.knop {
    padding-top: 23px;
}

.centralpics {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-top: 150px;
}

.mission {
    display: grid;
    grid-template-columns: repeat (2, 1fr);
    grid-template-rows: 1fr;
    background-color: #F9F8F8;
    margin-top: 190px;
    }
    .description {
        width: 705px;
        display: grid;
        grid-column: 2/3;
        grid-template-rows: repeat (3, 1fr);
        align-content: center;
        gap: 15px;
    }
    .text {
        font-family: $fonttext;
        font-size: 18px;
        display: flex;
        padding-top: 10px;
    }
    .organicpromo {
        display: grid;
        grid-template-columns: 120px 1fr;
        grid-template-rows: repeat (3, 1fr);}
    
    .promotext {
        display: grid;
        grid-column: 2/3;
        width: 444px;
    }

    .certif {
        display: grid;
        grid-template-columns: 120px 1fr;
        grid-template-rows: repeat (3, 1fr);
        }

        @media screen and (min-width: 768px) and (max-width: 1023px)
        {
            header {
                padding: 20px;
                .nav {
                    padding-left: 40px;
                }
                .search {
                padding-left: 40px;
                .searchfield {
                    width:20vw;
                }
                .cartpic {
                    width: 9vw;
                }
            }
            }
            .banner {
                display:flex;
        }
        .centralpics {
            margin-top: 3rem;
            margin-left: 40rem;
        }
        .mission { 
            margin-top: 3rem;
            background-size: 100vw;
            display: flex;
            padding-left: 4rem;
            .missionpic { display: none;
            }
            .description {
                width: 100vw;
            }
            
        }}



            @media screen and (min-width: 768px) and (max-width: 1023px)
            {
                header {
                    padding: 20px;
                    .nav {
                        padding-left: 40px;
                    }
                    .search {
                    padding-left: 40px;
                    .searchfield {
                        width:20vw;
                    }
                    .cartpic {
                        width: 9vw;
                    }
                }
                }
                .banner {
                    display:flex;
            }
            .centralpics {
                margin-top: 3rem;
                margin-left: 40rem;
            }
            .mission { 
                margin-top: 3rem;
                background-size: 100vw;
                display: flex;
                padding-left: 4rem;
                .missionpic { display: none;
                }
                .description {
                    width: 100vw;
                }
                
            }
            .footer {
                .utility-pages { display: none;
                }
                .contact-us {
                    padding-left: 5rem;  
                    width: 50%;
                }
                .about {
                    text-align:start;
                    align-items: start;
                    border-right: none;
                    padding-left: 5rem;
                    .follow,
                    .logo {
                        padding-left: 0;
                        }
                }
                }
                .legal {
                    border: none;
                    padding-left: 2rem;
                }
                }                    