@import url("https://fonts.googleapis.com/css2? Family= Roboto:ital,wght@0,400;0,500;0,700;1,400 & display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.heading h1 {
  font-size: 70px;
}
.heading h2 {
  font-size: 50px;
}
.heading h3 {
  font-size: 36px;
}
.heading h4 {
  font-size: 25px;
  padding-left: 20px;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("assets\fontsRoboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url("assets\fontsYellowtail-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Yellowtail-Regular";
  src: url("assets\fontsYellowtail-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Yellowtail-Regular";
  src: url("../fonts/Yellowtail-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Styles */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 69px 162px 69px 162px;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  font-weight: bolder;
  color: #274C5B;
  display: flex;
  gap: 1rem;
}

.logopic {
  width: 36px;
}

.nav {
  display: flex;
  gap: 25px;
  padding-left: 170px;
}

.nav a {
  text-decoration: none;
  color: #274C5B;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bolder;
}

.search {
  padding-left: 150px;
}

.searchfield {
  width: 375px;
}

.cartpic {
  width: 160px;
}

/* Footer Styles */
.footer {
  margin-top: 110px;
}
.footer__title {
  font-family: "Open Sans", sans-serif;
  color: #274C5B;
}
.footer .container {
  display: inline-flex;
  width: 100%;
  gap: 10rem;
  justify-content: flex-start;
  max-width: 100%;
}
.footer .utility-pages {
  order: 3;
}
.footer .utility-pages ul li {
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #274C5B;
  padding-top: 2rem;
}
.footer .utility-pages ul li:last-child {
  padding-bottom: 5rem;
}
.footer .utility-pages ul li a {
  text-decoration: none;
}
.footer .utility-pages ul li a:hover {
  color: #191b1c;
}
.footer .cont-text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  display: flex;
  padding-top: 10px;
}
.footer .about {
  order: 2;
  text-align: center;
  border-left: 2px solid rgb(210, 206, 206);
  border-right: 2px solid rgb(210, 206, 206);
  padding-left: 4rem;
  padding-right: 4rem;
  margin-bottom: 4rem;
}
.footer .about .logo {
  padding-left: 9rem;
}
.footer .about .follow {
  display: flex;
  padding-top: 3rem;
  gap: 1rem;
  padding-left: 7rem;
}
.footer .about.follow img {
  width: 20px;
  height: 20px;
}
.footer .contact-us {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #274C5B;
  text-align: end;
  display: block;
  padding-left: 15rem;
}
.footer .contact-us a {
  text-decoration: none;
  color: inherit;
}
.footer .contact-us a:hover {
  color: #191b1c;
}
.footer .contact-us .mail {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.footer .contact-us .phone {
  padding-bottom: 2rem;
}

.legal {
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  color: #274C5B;
  font-size: 18px;
  border-top: 2px solid rgb(210, 206, 206);
  padding-top: 1rem;
}

@media screen and (max-width: 767px) {
  .bannerpic,
  .missionpic,
  .utility-pages {
    display: none;
  }
  header {
    display: block;
    padding: 2rem;
  }
  header .nav,
  header .search {
    padding-left: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 5rem;
  }
  header .searchfield {
    width: 36vw;
  }
  header .cartpic {
    width: 15vw;
  }
  .banner {
    margin-top: 0;
  }
  .banner .slogan {
    padding: 2rem;
  }
  .banner .slogan .title {
    width: 70%;
  }
  .banner .slogan .title h1 {
    font-size: 7vw;
  }
  .centralpics {
    margin: 1rem;
    display: block;
    padding: 0;
  }
  .mission {
    margin-top: 2rem;
    padding: 2rem;
  }
  .mission .description {
    width: 80%;
  }
  .mission .description h2 {
    font-size: 7vw;
  }
  .mission .description .cont-text {
    font-size: 2vw;
  }
  .footer .contact-us {
    padding-left: 7rem;
  }
  .footer .about {
    text-align: start;
    align-items: start;
    border-right: none;
    padding-left: 7rem;
  }
  .footer .about .follow,
  .footer .about .logo {
    padding-left: 0;
  }
  .legal {
    border: none;
    padding-left: 2rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  header {
    padding: 20px;
  }
  header .nav {
    padding-left: 40px;
  }
  header .search {
    padding-left: 40px;
  }
  header .search .searchfield {
    width: 20vw;
  }
  header .search .cartpic {
    width: 9vw;
  }
  .banner {
    display: flex;
  }
  .centralpics {
    margin-top: 3rem;
    margin-left: 40rem;
  }
  .mission {
    margin-top: 3rem;
    background-size: 100vw;
    display: flex;
    padding-left: 4rem;
  }
  .mission .missionpic {
    display: none;
  }
  .mission .description {
    width: 100vw;
  }
  .footer .utility-pages {
    display: none;
  }
  .footer .contact-us {
    padding-left: 5rem;
    width: 50%;
  }
  .footer .about {
    text-align: start;
    align-items: start;
    border-right: none;
    padding-left: 5rem;
  }
  .footer .about .follow,
  .footer .about .logo {
    padding-left: 0;
  }
  .legal {
    border: none;
    padding-left: 2rem;
  }
}
.block6 {
  width: 100%;
  max-width: 100%;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block6 .subscribe-block {
  display: flex;
  gap: 326px;
  margin: 141px 0 70px 0;
  max-width: 1400px;
  min-height: 323px;
  flex-shrink: 0;
  border-radius: 30px;
  background-image: url(/assets/images/aboutImg/img_block6.svg);
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .block6 .subscribe-block {
    flex-direction: column;
    margin: 60px 0 60px 0;
    gap: 100px;
  }
}
.block6 .subscribe-block .block6__title {
  padding: 105px 0 0 71px;
  color: #FFF;
  width: 430px;
  height: 113px;
  flex-shrink: 0;
}
.block6 .subscribe-block .block6__input-box {
  margin-top: 121.5px;
  display: flex;
  gap: 6px;
  padding-right: 71px;
}
@media screen and (max-width: 768px) {
  .block6 .subscribe-block .block6__input-box {
    padding: 0;
  }
}
.block6 .subscribe-block .block6__input-box .block6__email-box {
  width: 349px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 16px;
  border: none;
  background: #FFF;
  padding: 5px 0 0 23px;
  color: #ABABAB;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 768px) {
  .block6 .subscribe-block .block6__input-box .block6__email-box {
    background-color: #F9F8F8;
  }
}
.block6 .subscribe-block .block6__input-box .block6__button {
  width: 220px;
  height: 80px;
  padding: 28px 47px 29px 47px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: none;
  background-color: #274C5B;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header__backgroung {
  max-width: 1920px;
  min-height: 450px;
  background-image: url(/assets/images/shopImg/Image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  font-size: 80px;
  font-weight: 300;
  justify-content: center;
  align-items: center;
  margin-bottom: 90px;
}

.header__shop-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.header__shop-img h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #274C5B;
  font-family: "Roboto";
  font-size: 100px;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  margin: 0 auto;
  grid-row: 1/2;
  grid-column: 1/2;
  justify-content: center;
  align-items: center;
}
.header__shop-img img {
  display: grid;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  grid-column: 1/2;
  grid-row: 1/2;
}

.main {
  width: 100%;
  margin: 0 auto;
}
.main .main__products {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
  margin-bottom: 90px;
}
@media (max-width: 1024px) {
  .main .main__products {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .main .main__products {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}
.main .main__products .card {
  width: 100%;
  border-radius: 30px;
  background-color: #FfFfFf;
  height: 100%;
}
.main .main__products .card .card-img-top {
  height: 250px;
}
.main .main__products .card .product-card-title {
  font-family: "Roboto-SemiBold", Helvetica;
  font-weight: 600;
  color: #274c5b;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
.main .main__products .card .card-category {
  border-radius: 8px;
  background: #274C5B;
  width: 100px;
  color: #FFF;
  margin-left: 30px;
  margin-top: 29px;
  margin-bottom: 13px;
  text-align: center;
  font-family: "Roboto-SemiBold", Helvetica;
  font-size: 15px;
  font-weight: 600;
}
.main .main__products .card .card-body .card-prise {
  text-decoration: line-through;
  font-family: Open Sans;
  font-size: 15px;
  color: #B8B8B8;
  font-weight: 600;
}
.main .main__products .card .card-body .card-newprise {
  color: #274C5B;
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 18px;
  font-weight: 700;
}
.main .main__subscribe {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 300px;
  background-image: url(./assets/img/Photo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .main .main__subscribe {
    justify-content: flex-start;
    flex-direction: column;
  }
}
.main .main__subscribe .main__title {
  color: #FFF;
  font-family: "Roboto-SemiBold", Helvetica;
  font-size: 50px;
  font-weight: 800;
  width: 500px;
  height: 113px;
  padding-left: 100px;
  margin-bottom: 30px;
}
.main .main__subscribe .btn {
  display: flex;
  max-width: 220px;
  height: 78px;
  padding: 28px 47px 29px 47px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #274C5B;
  color: #FFF;
  font-family: "Roboto-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  margin-right: 30px;
  margin-top: 5px;
}
.main .main__subscribe .form-control {
  max-width: 349px;
  height: 78px;
  color: #ABABAB;
  font-family: "Roboto-SemiBold", Helvetica;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  margin-left: 130px;
  margin-right: 6px;
}
@media (max-width: 1024px) {
  .main .main__subscribe .form-control {
    margin-left: 5px;
  }
}/*# sourceMappingURL=shopStyle.css.map */