@import url("https://fonts.googleapis.com/css2? Family= Roboto:ital,wght@0,400;0,500;0,700;1,400 & display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.heading h1 {
  font-size: 70px;
}
.heading h2 {
  font-size: 50px;
}
.heading h3 {
  font-size: 36px;
}
.heading h4 {
  font-size: 25px;
  padding-left: 20px;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("assets\fontsRoboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url("assets\fontsYellowtail-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Yellowtail-Regular";
  src: url("assets\fontsYellowtail-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Yellowtail-Regular";
  src: url("../fonts/Yellowtail-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Styles */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 69px 162px 69px 162px;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  font-weight: bolder;
  color: #274C5B;
  display: flex;
  gap: 1rem;
}

.logopic {
  width: 36px;
}

.nav {
  display: flex;
  gap: 25px;
  padding-left: 170px;
}

.nav a {
  text-decoration: none;
  color: #274C5B;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bolder;
}

.search {
  padding-left: 150px;
}

.searchfield {
  width: 375px;
}

.cartpic {
  width: 160px;
}

/* Footer Styles */
.footer {
  margin-top: 110px;
}
.footer__title {
  font-family: "Open Sans", sans-serif;
  color: #274C5B;
}
.footer .container {
  display: inline-flex;
  width: 100%;
  gap: 10rem;
  justify-content: flex-start;
  max-width: 100%;
}
.footer .utility-pages {
  order: 3;
}
.footer .utility-pages ul li {
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #274C5B;
  padding-top: 2rem;
}
.footer .utility-pages ul li:last-child {
  padding-bottom: 5rem;
}
.footer .utility-pages ul li a {
  text-decoration: none;
}
.footer .utility-pages ul li a:hover {
  color: #191b1c;
}
.footer .cont-text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  display: flex;
  padding-top: 10px;
}
.footer .about {
  order: 2;
  text-align: center;
  border-left: 2px solid rgb(210, 206, 206);
  border-right: 2px solid rgb(210, 206, 206);
  padding-left: 4rem;
  padding-right: 4rem;
  margin-bottom: 4rem;
}
.footer .about .logo {
  padding-left: 9rem;
}
.footer .about .follow {
  display: flex;
  padding-top: 3rem;
  gap: 1rem;
  padding-left: 7rem;
}
.footer .about.follow img {
  width: 20px;
  height: 20px;
}
.footer .contact-us {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #274C5B;
  text-align: end;
  display: block;
  padding-left: 15rem;
}
.footer .contact-us a {
  text-decoration: none;
  color: inherit;
}
.footer .contact-us a:hover {
  color: #191b1c;
}
.footer .contact-us .mail {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.footer .contact-us .phone {
  padding-bottom: 2rem;
}

.legal {
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  color: #274C5B;
  font-size: 18px;
  border-top: 2px solid rgb(210, 206, 206);
  padding-top: 1rem;
}

@media screen and (max-width: 767px) {
  .bannerpic,
  .missionpic,
  .utility-pages {
    display: none;
  }
  header {
    display: block;
    padding: 2rem;
  }
  header .nav,
  header .search {
    padding-left: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 5rem;
  }
  header .searchfield {
    width: 36vw;
  }
  header .cartpic {
    width: 15vw;
  }
  .banner {
    margin-top: 0;
  }
  .banner .slogan {
    padding: 2rem;
  }
  .banner .slogan .title {
    width: 70%;
  }
  .banner .slogan .title h1 {
    font-size: 7vw;
  }
  .centralpics {
    margin: 1rem;
    display: block;
    padding: 0;
  }
  .mission {
    margin-top: 2rem;
    padding: 2rem;
  }
  .mission .description {
    width: 80%;
  }
  .mission .description h2 {
    font-size: 7vw;
  }
  .mission .description .cont-text {
    font-size: 2vw;
  }
  .footer .contact-us {
    padding-left: 7rem;
  }
  .footer .about {
    text-align: start;
    align-items: start;
    border-right: none;
    padding-left: 7rem;
  }
  .footer .about .follow,
  .footer .about .logo {
    padding-left: 0;
  }
  .legal {
    border: none;
    padding-left: 2rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  header {
    padding: 20px;
  }
  header .nav {
    padding-left: 40px;
  }
  header .search {
    padding-left: 40px;
  }
  header .search .searchfield {
    width: 20vw;
  }
  header .search .cartpic {
    width: 9vw;
  }
  .banner {
    display: flex;
  }
  .centralpics {
    margin-top: 3rem;
    margin-left: 40rem;
  }
  .mission {
    margin-top: 3rem;
    background-size: 100vw;
    display: flex;
    padding-left: 4rem;
  }
  .mission .missionpic {
    display: none;
  }
  .mission .description {
    width: 100vw;
  }
  .footer .utility-pages {
    display: none;
  }
  .footer .contact-us {
    padding-left: 5rem;
    width: 50%;
  }
  .footer .about {
    text-align: start;
    align-items: start;
    border-right: none;
    padding-left: 5rem;
  }
  .footer .about .follow,
  .footer .about .logo {
    padding-left: 0;
  }
  .legal {
    border: none;
    padding-left: 2rem;
  }
}
.block6 {
  width: 100%;
  max-width: 100%;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block6 .subscribe-block {
  display: flex;
  gap: 326px;
  margin: 141px 0 70px 0;
  max-width: 1400px;
  min-height: 323px;
  flex-shrink: 0;
  border-radius: 30px;
  background-image: url(/assets/images/aboutImg/img_block6.svg);
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .block6 .subscribe-block {
    flex-direction: column;
    margin: 60px 0 60px 0;
    gap: 100px;
  }
}
.block6 .subscribe-block .block6__title {
  padding: 105px 0 0 71px;
  color: #FFF;
  width: 430px;
  height: 113px;
  flex-shrink: 0;
}
.block6 .subscribe-block .block6__input-box {
  margin-top: 121.5px;
  display: flex;
  gap: 6px;
  padding-right: 71px;
}
@media screen and (max-width: 768px) {
  .block6 .subscribe-block .block6__input-box {
    padding: 0;
  }
}
.block6 .subscribe-block .block6__input-box .block6__email-box {
  width: 349px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 16px;
  border: none;
  background: #FFF;
  padding: 5px 0 0 23px;
  color: #ABABAB;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 768px) {
  .block6 .subscribe-block .block6__input-box .block6__email-box {
    background-color: #F9F8F8;
  }
}
.block6 .subscribe-block .block6__input-box .block6__button {
  width: 220px;
  height: 80px;
  padding: 28px 47px 29px 47px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: none;
  background-color: #274C5B;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.block1 {
  width: 100%;
  max-width: 100%;
  min-height: 450px;
  flex-shrink: 0;
  background-image: url(/assets/images/aboutImg/background_block1.svg);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.block1 .block1__title {
  font-family: "Roboto", sans-serif;
  font-size: 70px;
  font-weight: 700;
  color: #274C5B;
  flex-shrink: 0;
}
.block1 .block1__patterns .block1__patterns_garlic {
  position: absolute;
  top: 98.53px;
  right: 1078.95px;
  bottom: 278.4px;
  left: 693.39px;
}
@media screen and (max-width: 768px) {
  .block1 .block1__patterns .block1__patterns_garlic {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .block1 .block1__patterns .block1__patterns_garlic {
    height: 100px;
  }
  .block1 .block1__patterns .block1__patterns_garlic h1 {
    font-size: 1rem;
  }
}
.block1 .block1__patterns .block1__patterns_strawberry {
  position: absolute;
  top: 75px;
  right: 578.37px;
  bottom: 321.79px;
  left: 1217px;
}
@media screen and (max-width: 768px) {
  .block1 .block1__patterns .block1__patterns_strawberry {
    display: none;
  }
}
.block1 .block1__patterns .block1__patterns_seeds {
  position: absolute;
  top: 375px;
  right: 885.8px;
  bottom: 12.96px;
  left: 885px;
}
@media screen and (max-width: 768px) {
  .block1 .block1__patterns .block1__patterns_seeds {
    display: none;
  }
}
.block1 .block1__patterns .block1__patterns_leaves {
  position: absolute;
  top: 375px;
  right: 1126.52px;
  bottom: 46.89px;
  left: 690px;
}
@media screen and (max-width: 768px) {
  .block1 .block1__patterns .block1__patterns_leaves {
    display: none;
  }
}
.block1 .block1__patterns .block1__patterns_part1 {
  position: absolute;
  top: 462.41px;
  right: 1287.85px;
  bottom: 0;
  left: 401.48px;
}
@media screen and (max-width: 768px) {
  .block1 .block1__patterns .block1__patterns_part1 {
    display: none;
  }
}
.block1 .block1__patterns .block1__patterns_part2 {
  position: absolute;
  top: 342.1px;
  right: 1360.09px;
  bottom: 0;
  left: 362.73px;
}
@media screen and (max-width: 768px) {
  .block1 .block1__patterns .block1__patterns_part2 {
    display: none;
  }
}
.block1 .block1__patterns .block1__patterns_part3 {
  position: absolute;
  top: 391.17px;
  right: 1409.6px;
  bottom: 32.78px;
  left: 439.73px;
}
@media screen and (max-width: 768px) {
  .block1 .block1__patterns .block1__patterns_part3 {
    display: none;
  }
}
.block1 .block1__patterns .block1__patterns_part4 {
  position: absolute;
  top: 399.22px;
  right: 1434.29px;
  bottom: 75.75px;
  left: 459.25px;
}
@media screen and (max-width: 768px) {
  .block1 .block1__patterns .block1__patterns_part4 {
    display: none;
  }
}
.block1 .block1__patterns .block1__patterns_part5 {
  position: absolute;
  top: 437.08px;
  right: 1474.64px;
  bottom: 49.04px;
  left: 416.71px;
}
@media screen and (max-width: 768px) {
  .block1 .block1__patterns .block1__patterns_part5 {
    display: none;
  }
}
.block1 .block1__patterns .block1__patterns_part6 {
  position: absolute;
  top: 450.52px;
  right: 1486.84px;
  bottom: 16.39px;
  left: 385.96px;
}
@media screen and (max-width: 768px) {
  .block1 .block1__patterns .block1__patterns_part6 {
    display: none;
  }
}
.block1 .block1__patterns .block1__patterns_part7 {
  position: absolute;
  top: 466.01px;
  right: 1425.25px;
  bottom: 1.66px;
  left: 426.38px;
}
@media screen and (max-width: 768px) {
  .block1 .block1__patterns .block1__patterns_part7 {
    display: none;
  }
}
.block1 .block1__patterns .block1__patterns_part8 {
  position: absolute;
  top: 480.39px;
  right: 1448.62px;
  bottom: 17.78px;
  left: 453.1px;
}
@media screen and (max-width: 768px) {
  .block1 .block1__patterns .block1__patterns_part8 {
    display: none;
  }
}
.block1 .block1__patterns .block1__patterns_part9 {
  position: absolute;
  top: 427.75px;
  right: 1425.81px;
  bottom: 66.41px;
  left: 472.33px;
}
@media screen and (max-width: 768px) {
  .block1 .block1__patterns .block1__patterns_part9 {
    display: none;
  }
}
.block1 .block1__patterns .block1__patterns_part10 {
  position: absolute;
  top: 406.82px;
  right: 1441.82px;
  bottom: 87.8px;
  left: 452.21px;
}
@media screen and (max-width: 768px) {
  .block1 .block1__patterns .block1__patterns_part10 {
    display: none;
  }
}
.block1 .block1__patterns .block1__patterns_part11 {
  position: absolute;
  top: 440.77px;
  right: 1490.2px;
  bottom: 0;
  left: 208px;
}
@media screen and (max-width: 768px) {
  .block1 .block1__patterns .block1__patterns_part11 {
    display: none;
  }
}

.block2 {
  width: 100%;
  max-width: 100%;
  margin: 163px 263px 0 0;
  display: flex;
  background-color: #FFF;
}
@media screen and (max-width: 768px) {
  .block2 {
    flex-direction: column;
    padding-left: 50px;
  }
}
@media screen and (max-width: 425px) {
  .block2 {
    margin: 30px 0 0 0;
    justify-content: center;
    align-items: center;
  }
}
.block2 .block2__images {
  display: flex;
}
@media screen and (max-width: 768px) {
  .block2 .block2__images {
    opacity: 0.5;
  }
}
.block2 .block2__images .block2__img_1 {
  position: absolute;
  width: 466px;
  height: 465px;
  top: 975px;
  left: 35px;
  z-index: 0;
}
@media screen and (max-width: 768px) {
  .block2 .block2__images .block2__img_1 {
    top: 600px;
    left: 300px;
    width: 266px;
    height: 265px;
  }
}
@media screen and (max-width: 425px) {
  .block2 .block2__images .block2__img_1 {
    display: none;
  }
}
.block2 .block2__images .block2__img_2 {
  width: 910px;
  height: 607px;
  margin-left: 100px;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .block2 .block2__images .block2__img_2 {
    display: none;
  }
}
.block2 .block2__content {
  display: flex;
  flex-direction: column;
  width: 675px;
}
@media screen and (max-width: 768px) {
  .block2 .block2__content {
    z-index: 100;
    width: 600px;
  }
}
@media screen and (max-width: 425px) {
  .block2 .block2__content {
    width: 400px;
  }
}
.block2 .block2__content .block2__title_2 {
  padding-top: 10px;
  width: 675px;
  color: #274C5B;
}
@media screen and (max-width: 425px) {
  .block2 .block2__content .block2__title_2 {
    padding-top: 10px;
    width: 400px;
  }
}
.block2 .block2__content .block2__text {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 14px;
}
@media screen and (max-width: 425px) {
  .block2 .block2__content .block2__text {
    width: 400px;
    gap: 20px;
  }
}
.block2 .block2__content .block2__icons {
  display: flex;
  padding-top: 49px;
  gap: 65px;
}
@media screen and (max-width: 425px) {
  .block2 .block2__content .block2__icons {
    flex-direction: column;
    padding-top: 30px;
    gap: 30px;
  }
}
.block2 .block2__content .block2__icons .block2__icons_item {
  display: flex;
  gap: 15px;
}
.block2 .block2__content .block2__icons .block2__icons_item .block2__icons_img1 {
  width: 46px;
  height: 46px;
}
.block2 .block2__content .block2__icons .block2__icons_item .block2__icons_img2 {
  width: 56px;
  height: 56px;
}
.block2 .block2__content .block2__icons .block2__title-mid {
  font-size: 25px;
  font-weight: 500;
}
@media screen and (max-width: 425px) {
  .block2 .block2__content .block2__icons .block2__title-mid {
    font-size: 20px;
  }
}
.block2 .block2__content .block2__button {
  padding-top: 58px;
}
.block2 .block2__content .block2__button .block2_button-explore {
  display: flex;
  padding: 28px 39px 29px 35px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  border: none;
  width: 230px;
  height: 80px;
  background-color: #274C5B;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media screen and (max-width: 425px) {
  .block2 .block2__content .block2__button .block2_button-explore {
    padding-top: 30px;
  }
}

.block3 {
  width: 100%;
  max-width: 100%;
  min-height: 1429px;
  background-color: #F9F8F8;
  margin-top: 150px;
}
@media screen and (max-width: 768px) {
  .block3 {
    margin-top: 30px;
  }
}
@media screen and (max-width: 425px) {
  .block3 {
    margin-top: 50px;
    padding-bottom: 30px;
  }
}
.block3 .block3__part1 {
  padding: 200px 248px 0 260px;
  display: flex;
  gap: 51px;
}
@media screen and (max-width: 768px) {
  .block3 .block3__part1 {
    padding: 50px 0 0 50px;
  }
}
@media screen and (max-width: 425px) {
  .block3 .block3__part1 {
    padding: 30px 0 0 30px;
    gap: 10px;
  }
}
.block3 .block3__part1 .block3__part1-content {
  width: 671px;
}
@media screen and (max-width: 425px) {
  .block3 .block3__part1 .block3__part1-content {
    width: 400px;
  }
}
.block3 .block3__part1 .block3__part1-content .block3__title_2 {
  width: 524px;
  padding-top: 6px;
  color: #274C5B;
}
@media screen and (max-width: 425px) {
  .block3 .block3__part1 .block3__part1-content .block3__title_2 {
    width: 400px;
    padding-top: 6px;
  }
}
.block3 .block3__part1 .block3__part1-content .block3__text_1 {
  padding-top: 25px;
}
.block3 .block3__part1 .block3__part1-content .block3__fake-button_1 {
  margin-top: 36px;
}
@media screen and (max-width: 425px) {
  .block3 .block3__part1 .block3__part1-content .block3__fake-button_1 {
    margin-top: 20px;
  }
}
.block3 .block3__part1 .block3__part1-content .block3__text_2 {
  padding: 12px 0 0 60px;
  width: 500px;
  height: 60px;
}
@media screen and (max-width: 425px) {
  .block3 .block3__part1 .block3__part1-content .block3__text_2 {
    width: 400px;
  }
}
.block3 .block3__part1 .block3__part1-content .block3__fake-button_2 {
  margin-top: 24px;
}
.block3 .block3__part1 .block3__part1_img {
  border-radius: 45px;
}
@media screen and (max-width: 768px) {
  .block3 .block3__part1 .block3__part1_img {
    display: none;
  }
}
.block3 .block3__part2 {
  margin: 91px 401px 189px 401px;
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .block3 .block3__part2 {
    margin: 40px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
  }
}
@media screen and (max-width: 425px) {
  .block3 .block3__part2 {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
.block3 .block3__part2 .block3__part2-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 257px;
  height: 335px;
  background-color: #FFF;
  border-radius: 30px;
}
@media screen and (max-width: 425px) {
  .block3 .block3__part2 .block3__part2-item {
    height: 250px;
    padding-top: 10px;
  }
}
.block3 .block3__part2 .block3__part2-item .block3__part2_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95px;
  height: 95px;
  flex-shrink: 0;
  border-radius: 18px;
  background-color: #F9F8F8;
}
.block3 .block3__part2 .block3__part2-item .block3__part2-item_title {
  padding-top: 15px;
  font-size: 25px;
  font-weight: 700;
}
.block3 .block3__part2 .block3__part2-item .block3__part2-item_text {
  padding-top: 12px;
  width: 184px;
  height: 115px;
}

.block4 {
  width: 100%;
  max-width: 100%;
  background-color: #FFF;
}
.block4 .block4__content {
  margin: 177px 534px 0 534px;
  max-width: 852px;
  min-height: 180px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .block4 .block4__content {
    margin: 50px 10px 0 10px;
    width: 700px;
  }
}
@media screen and (max-width: 425px) {
  .block4 .block4__content {
    margin: 30px 10px 0 10px;
    width: 400px;
  }
}
.block4 .block4__content .block3__title_2 {
  color: #274C5B;
}
.block4 .block4__content .block4__text {
  padding-top: 16px;
}
.block4 .block4__experts {
  display: flex;
  margin: 42px 259px 202px 260px;
  gap: 27px;
}
@media screen and (max-width: 768px) {
  .block4 .block4__experts {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0 50px 0;
  }
}
@media screen and (max-width: 425px) {
  .block4 .block4__experts {
    margin: 5px 0 30px 0;
  }
}
.block4 .block4__experts .block4__expert-block {
  width: 449px;
  height: 616px;
  border-radius: 25px;
  background-color: #F9F8F8;
}
@media screen and (max-width: 425px) {
  .block4 .block4__experts .block4__expert-block {
    width: 400px;
    height: 560px;
  }
}
.block4 .block4__experts .block4__expert-block .block4__expert-photo {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
@media screen and (max-width: 425px) {
  .block4 .block4__experts .block4__expert-block .block4__expert-photo {
    width: 400px;
  }
}
.block4 .block4__experts .block4__expert-block .block4__expert-name {
  padding: 35px 0 0 28px;
  font-size: 25px;
  font-weight: 700;
}
.block4 .block4__experts .block4__expert-block .block4__expert-posicion {
  padding-left: 28px;
  color: #7EB693;
  font-family: "Yellowtail-Regular";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 425px) {
  .block4 .block4__experts .block4__expert-block .block4__expert-posicion {
    font-size: 1.5rem;
  }
}
.block4 .block4__experts .block4__expert-block .block4__expert-contacts {
  display: flex;
  gap: 17px;
  padding-left: 317px;
}
@media screen and (max-width: 425px) {
  .block4 .block4__experts .block4__expert-block .block4__expert-contacts {
    justify-content: flex-end;
    gap: 10px;
    margin-right: 20px;
  }
}

.block5 {
  width: 100%;
  max-width: 100%;
  background-color: #274C5B;
  text-align: center;
}
.block5 .block5__title_1 {
  padding-top: 188px;
}
@media screen and (max-width: 768px) {
  .block5 .block5__title_1 {
    padding-top: 50px;
  }
}
@media screen and (max-width: 425px) {
  .block5 .block5__title_1 {
    padding-top: 30px;
  }
}
.block5 .block5__title_2 {
  padding-top: 8px;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media screen and (max-width: 425px) {
  .block5 .block5__title_2 {
    font-size: 30px;
  }
}
.block5 .block5__item-block {
  display: flex;
  gap: 21px;
  padding: 34px 0 188px 260px;
}
@media screen and (max-width: 768px) {
  .block5 .block5__item-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px 0 50px 0;
    justify-items: center;
    align-items: center;
  }
}
@media screen and (max-width: 425px) {
  .block5 .block5__item-block {
    grid-template-columns: 1fr;
  }
}
.block5 .block5__item-block .block5__item .block5__img {
  width: 335px;
  height: 314px;
  border-radius: 25px;
  background-color: #FFF;
}
@media screen and (max-width: 768px) {
  .block5 .block5__item-block .block5__item .block5__img {
    width: 300px;
    height: 290px;
  }
}
@media screen and (max-width: 425px) {
  .block5 .block5__item-block .block5__item .block5__img {
    width: 280px;
    height: 250px;
  }
}
.block5 .block5__item-block .block5__item-title {
  padding-top: 24px;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media screen and (max-width: 425px) {
  .block5 .block5__item-block .block5__item-title {
    padding-top: 15px;
    font-size: 20px;
  }
}

.block6 {
  width: 100%;
  max-width: 100%;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block6 .subscribe-block {
  display: flex;
  gap: 326px;
  margin: 141px 0 70px 0;
  max-width: 1400px;
  min-height: 323px;
  flex-shrink: 0;
  border-radius: 30px;
  background-image: url(/assets/images/aboutImg/img_block6.svg);
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .block6 .subscribe-block {
    flex-direction: column;
    margin: 60px 0 60px 0;
    gap: 100px;
  }
}
@media screen and (max-width: 425px) {
  .block6 .subscribe-block {
    gap: 20px;
    margin: 20px 0 20px 0;
    width: 420px;
  }
}
.block6 .subscribe-block .block6__title {
  padding: 105px 0 0 71px;
  color: #FFF;
  width: 430px;
  height: 113px;
  flex-shrink: 0;
}
@media screen and (max-width: 425px) {
  .block6 .subscribe-block .block6__title {
    padding: 50px 0 0 40px;
  }
}
.block6 .subscribe-block .block6__input-box {
  margin-top: 121.5px;
  display: flex;
  gap: 6px;
  padding-right: 71px;
}
@media screen and (max-width: 768px) {
  .block6 .subscribe-block .block6__input-box {
    padding: 0;
  }
}
@media screen and (max-width: 425px) {
  .block6 .subscribe-block .block6__input-box {
    margin-top: 10px;
    flex-direction: column;
    gap: 6px;
    padding-left: 40px;
  }
}
.block6 .subscribe-block .block6__input-box .block6__email-box {
  width: 349px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 16px;
  border: none;
  background: #FFF;
  padding: 5px 0 0 23px;
  color: #ABABAB;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 768px) {
  .block6 .subscribe-block .block6__input-box .block6__email-box {
    background-color: #F9F8F8;
  }
}
.block6 .subscribe-block .block6__input-box .block6__button {
  width: 220px;
  height: 80px;
  padding: 28px 47px 29px 47px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: none;
  background-color: #274C5B;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.subtitle {
  color: #525C60;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%;
}
@media screen and (max-width: 425px) {
  .subtitle {
    font-size: 1em;
  }
}

.h2 {
  font-family: "Roboto-Bold";
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
@media screen and (max-width: 425px) {
  .h2 {
    font-size: 2rem;
  }
}

.h3 {
  color: #7EB693;
  font-family: "Yellowtail-Regular";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 425px) {
  .h3 {
    font-size: 2rem;
  }
}

.title-mid {
  color: #274C5B;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: normal;
}

.block3__title-mid {
  font-size: 20px;
  font-weight: 500;
}

.fake-button {
  display: flex;
  padding: 29px 91px 29px 27px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 49px;
  background: #ECECEC;
  width: 350px;
  height: 81px;
}/*# sourceMappingURL=aboutStyle.css.map */