@import url("https://fonts.googleapis.com/css2? Family= Roboto:ital,wght@0,400;0,500;0,700;1,400 & display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.heading h1 {
  font-size: 70px;
}
.heading h2 {
  font-size: 50px;
}
.heading h3 {
  font-size: 36px;
}
.heading h4 {
  font-size: 25px;
  padding-left: 20px;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("assets\fontsRoboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url("assets\fontsYellowtail-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Yellowtail-Regular";
  src: url("assets\fontsYellowtail-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Yellowtail-Regular";
  src: url("../fonts/Yellowtail-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Styles */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 69px 162px 69px 162px;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  font-weight: bolder;
  color: #274C5B;
  display: flex;
  gap: 1rem;
}

.logopic {
  width: 36px;
}

.nav {
  display: flex;
  gap: 25px;
  padding-left: 170px;
}

.nav a {
  text-decoration: none;
  color: #274C5B;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bolder;
}

.search {
  padding-left: 150px;
}

.searchfield {
  width: 375px;
}

.cartpic {
  width: 160px;
}

/* Footer Styles */
.footer {
  margin-top: 110px;
}
.footer__title {
  font-family: "Open Sans", sans-serif;
  color: #274C5B;
}
.footer .container {
  display: inline-flex;
  width: 100%;
  gap: 10rem;
  justify-content: flex-start;
  max-width: 100%;
}
.footer .utility-pages {
  order: 3;
}
.footer .utility-pages ul li {
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #274C5B;
  padding-top: 2rem;
}
.footer .utility-pages ul li:last-child {
  padding-bottom: 5rem;
}
.footer .utility-pages ul li a {
  text-decoration: none;
}
.footer .utility-pages ul li a:hover {
  color: #191b1c;
}
.footer .cont-text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  display: flex;
  padding-top: 10px;
}
.footer .about {
  order: 2;
  text-align: center;
  border-left: 2px solid rgb(210, 206, 206);
  border-right: 2px solid rgb(210, 206, 206);
  padding-left: 4rem;
  padding-right: 4rem;
  margin-bottom: 4rem;
}
.footer .about .logo {
  padding-left: 9rem;
}
.footer .about .follow {
  display: flex;
  padding-top: 3rem;
  gap: 1rem;
  padding-left: 7rem;
}
.footer .about.follow img {
  width: 20px;
  height: 20px;
}
.footer .contact-us {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #274C5B;
  text-align: end;
  display: block;
  padding-left: 15rem;
}
.footer .contact-us a {
  text-decoration: none;
  color: inherit;
}
.footer .contact-us a:hover {
  color: #191b1c;
}
.footer .contact-us .mail {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.footer .contact-us .phone {
  padding-bottom: 2rem;
}

.legal {
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  color: #274C5B;
  font-size: 18px;
  border-top: 2px solid rgb(210, 206, 206);
  padding-top: 1rem;
}

@media screen and (max-width: 767px) {
  .bannerpic,
  .missionpic,
  .utility-pages {
    display: none;
  }
  header {
    display: block;
    padding: 2rem;
  }
  header .nav,
  header .search {
    padding-left: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 5rem;
  }
  header .searchfield {
    width: 36vw;
  }
  header .cartpic {
    width: 15vw;
  }
  .banner {
    margin-top: 0;
  }
  .banner .slogan {
    padding: 2rem;
  }
  .banner .slogan .title {
    width: 70%;
  }
  .banner .slogan .title h1 {
    font-size: 7vw;
  }
  .centralpics {
    margin: 1rem;
    display: block;
    padding: 0;
  }
  .mission {
    margin-top: 2rem;
    padding: 2rem;
  }
  .mission .description {
    width: 80%;
  }
  .mission .description h2 {
    font-size: 7vw;
  }
  .mission .description .cont-text {
    font-size: 2vw;
  }
  .footer .contact-us {
    padding-left: 7rem;
  }
  .footer .about {
    text-align: start;
    align-items: start;
    border-right: none;
    padding-left: 7rem;
  }
  .footer .about .follow,
  .footer .about .logo {
    padding-left: 0;
  }
  .legal {
    border: none;
    padding-left: 2rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  header {
    padding: 20px;
  }
  header .nav {
    padding-left: 40px;
  }
  header .search {
    padding-left: 40px;
  }
  header .search .searchfield {
    width: 20vw;
  }
  header .search .cartpic {
    width: 9vw;
  }
  .banner {
    display: flex;
  }
  .centralpics {
    margin-top: 3rem;
    margin-left: 40rem;
  }
  .mission {
    margin-top: 3rem;
    background-size: 100vw;
    display: flex;
    padding-left: 4rem;
  }
  .mission .missionpic {
    display: none;
  }
  .mission .description {
    width: 100vw;
  }
  .footer .utility-pages {
    display: none;
  }
  .footer .contact-us {
    padding-left: 5rem;
    width: 50%;
  }
  .footer .about {
    text-align: start;
    align-items: start;
    border-right: none;
    padding-left: 5rem;
  }
  .footer .about .follow,
  .footer .about .logo {
    padding-left: 0;
  }
  .legal {
    border: none;
    padding-left: 2rem;
  }
}
.block6 {
  width: 100%;
  max-width: 100%;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block6 .subscribe-block {
  display: flex;
  gap: 326px;
  margin: 141px 0 70px 0;
  max-width: 1400px;
  min-height: 323px;
  flex-shrink: 0;
  border-radius: 30px;
  background-image: url(/assets/images/aboutImg/img_block6.svg);
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .block6 .subscribe-block {
    flex-direction: column;
    margin: 60px 0 60px 0;
    gap: 100px;
  }
}
.block6 .subscribe-block .block6__title {
  padding: 105px 0 0 71px;
  color: #FFF;
  width: 430px;
  height: 113px;
  flex-shrink: 0;
}
.block6 .subscribe-block .block6__input-box {
  margin-top: 121.5px;
  display: flex;
  gap: 6px;
  padding-right: 71px;
}
@media screen and (max-width: 768px) {
  .block6 .subscribe-block .block6__input-box {
    padding: 0;
  }
}
.block6 .subscribe-block .block6__input-box .block6__email-box {
  width: 349px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 16px;
  border: none;
  background: #FFF;
  padding: 5px 0 0 23px;
  color: #ABABAB;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 768px) {
  .block6 .subscribe-block .block6__input-box .block6__email-box {
    background-color: #F9F8F8;
  }
}
.block6 .subscribe-block .block6__input-box .block6__button {
  width: 220px;
  height: 80px;
  padding: 28px 47px 29px 47px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: none;
  background-color: #274C5B;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container {
  max-width: 1401px;
  width: 100%;
  margin: 0 auto;
}

.team_title {
  font-size: 70px;
  font-weight: 700;
  flex-shrink: 0;
  font-family: "Roboto", sans-serif;
  font-size: 70px;
  color: #274C5B;
}

main .main_background {
  background-image: url(/assets/images/teamImg/background_image.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 120px;
}
@media (max-width: 1023px) {
  main .main_background {
    margin-bottom: 70px;
  }
}
@media (max-width: 767px) {
  main .main_background {
    margin-bottom: 20px;
  }
}
main .main_background .main_background_container {
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #274c5b;
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 1023px) {
  main .main_background .main_background_container {
    font-size: 2rem;
    height: 300px;
  }
}
@media (max-width: 767px) {
  main .main_background .main_background_container {
    height: 200px;
    font-size: 1.3rem;
  }
}
main .main_info {
  text-align: center;
}
main .main_info .description {
  margin-bottom: 42px;
}
main .main_info .description span {
  /*margin-bottom: 8px;*/
  font-size: 36px;
  font-weight: 400;
  color: #7eb693;
  font-family: "Yellowtail", cursive;
}
main .main_info .description .p1 {
  font-size: 50px;
  font-weight: 800;
  color: #274c5b;
  margin-bottom: 8px;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 1023px) {
  main .main_info .description .p1 {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  main .main_info .description .p1 {
    font-size: 24px;
  }
}
main .main_info .description .p2 {
  font-size: 18px;
  font-weight: 400;
  color: #525c60;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
main .main_team_1 {
  display: flex;
  gap: 17px;
  justify-content: center;
  margin-bottom: 42px;
  padding: 10px;
}
main .main_team_1 .content_cards {
  padding: 35px 28px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-items: flex-end;
}
@media (max-width: 1023px) {
  main .main_team_1 .content_cards {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1023px) {
  main .main_team_1 .content_cards .descr__user {
    margin-bottom: 20px;
  }
}
main .main_team_1 .content_cards .descr__user .name {
  color: #274c5b;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 800;
}
@media (max-width: 1023px) {
  main .main_team_1 .content_cards .descr__user .name {
    margin-bottom: 10px;
    font-size: 24px;
  }
}
@media (max-width: 767) {
  main .main_team_1 .content_cards .descr__user .name {
    text-align: center;
    font-size: 20px;
  }
}
main .main_team_1 .content_cards .descr__user .job {
  font-family: "Yellowtail", cursive;
  color: #7eb693;
  font-size: 22px;
  font-weight: normal;
}
@media (max-width: 1023px) {
  main .main_team_1 .content_cards .descr__user .job {
    text-align: center;
    font-size: 20px;
  }
}
@media (max-width: 767) {
  main .main_team_1 .content_cards .descr__user .job {
    text-align: center;
    font-size: 16px;
  }
}
main .main_team_1 .main_team_1__giovani {
  max-width: 449px;
  height: 100%;
  border-radius: 25px;
  background-color: #f9f8f8;
}
main .main_team_1 .main_team_1__giovani img {
  width: 100%;
}
main .main_team_1 .main_team_1__marianne {
  max-width: 449px;
  height: 100%;
  border-radius: 25px;
  background-color: #f9f8f8;
}
main .main_team_1 .main_team_1__marianne img {
  width: 100%;
}
main .main_team_1 .main_team_1__riga {
  max-width: 449px;
  height: 100%;
  border-radius: 25px;
  background-color: #f9f8f8;
}
main .main_team_1 .main_team_1__riga img {
  width: 100%;
}
main .main_team_1 .main_team_1__keira {
  max-width: 449px;
  height: 100%;
  border-radius: 25px;
  background-color: #f9f8f8;
}
main .main_team_1 .main_team_1__keira img {
  width: 100%;
}
main .main_team_1 .main_team_1__scott {
  max-width: 449px;
  height: 100%;
  border-radius: 25px;
  background-color: #f9f8f8;
}
main .main_team_1 .main_team_1__scott img {
  width: 100%;
}
main .main_team_1 .main_team_1__karen {
  max-width: 449px;
  height: 100%;
  border-radius: 25px;
  background-color: #f9f8f8;
}
main .main_team_1 .main_team_1__karen img {
  width: 100%;
}
main .main_team_1 .img__social img {
  width: 22px;
  height: 21px;
  margin-right: 17px;
}
main .main_team_1 .img__social :last-child {
  margin-right: 0;
}
main .second {
  margin: 0;
}/*# sourceMappingURL=teamStyle.css.map */