@font-face {
    font-family: 'Roboto-Bold';
    src: url('assets\fonts\Roboto-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('assets\fonts\Yellowtail-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Yellowtail-Regular';
    src: url('assets\fonts\Yellowtail-Regular.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2? Family= Roboto:ital,wght@0,400;0,500;0,700;1,400 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Yellowtail-Regular';
    src: url('../fonts/Yellowtail-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 69px 162px;
    .logo {
        font-family: $font-roboto;
        font-size: 38px;
        font-weight: bolder;
        color: $colordark;
        display: flex;
        gap: 1rem;
    }
    
    .nav {
        display: flex;
        gap: 25px;
        padding-left: 170px;
    }
    
    .nav a {
        text-decoration: none; 
        color: $colordark;
        font-family: $font-roboto;
        font-size: 20px;
        font-weight: bolder;
    }
    
    .search {
        padding-left: 150px;
    }
}

/* Footer Styles */
.footer {
    display: flex;
    padding: 50px;
    &__title {
        font-family: $font-roboto;
        font-size: 25px;
        color: $colordark;
        font-weight: bold;
        line-height: 56px;
        display: inline-block;
        vertical-align: bottom;
        margin-bottom: 15px;
        + img{
            float: left;
            padding-right: 10px;
            width: 39px;
            height: 56px;
            box-sizing: content-box;
        }
    }

.container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex: 1;
}

.utility-pages,
.about,
.contact-us {
    display: inline;
    gap: 10px;
    width: 100%;
}
.utility-pages{
    order: 3;
}

.about{
    order: 2;
}

.utility-pages h4,
.about .logo h2,
.contact-info h4 {
    font-family: $font-roboto, sans-serif;
    font-size: 24px;
    color: #274c5b;
    font-weight: 700;
    margin-bottom: 10px;
}

.utility-pages ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.utility-pages ul li {
    font-family: $font-open_sans, sans-serif;
    font-size: 18px;
    // line-height: 50px;
    margin-bottom: calc(50px - 18px);
    color: #515b5f;
    &:last-child {
        margin-bottom: 0;
    }
    a {
        text-decoration: none;
        color:inherit;
        &:hover {
            color: #191b1c;
        }
    }
}

.about .logo .logo-2 {
    width: 39px;
    height: 56px;
}

p .desc {
    margin-bottom: 10px;
}

.about .content p {
    font-family: $font-open_sans, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #515b5f;
    margin-bottom: 30px;
}

.about .content .follow {
    display: flex;
    gap: 10px;
}

.about .content .follow img {
    width: 20px;
    height: 20px;
}

.contact-info address {
    font-family: $font-open_sans, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #515b5f;
}

.copyright{
    position: fixed;
    font-family: $font-open_sans, Helvetica;
    font-weight: 400;
    color: #515b5f;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 29.8px;
    white-space: nowrap;
}
}

