@font-face {
    font-family: 'Roboto-Bold';
    src: url('assets\fonts\Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('assets\fonts\Yellowtail-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Yellowtail-Regular';
    src: url('assets\fonts\Yellowtail-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 69px 162px;
}
