@font-face {
  font-family: "Roboto-Bold";
  src: url("assets\fontsRoboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url("assets\fontsYellowtail-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Yellowtail-Regular";
  src: url("assets\fontsYellowtail-Regular.ttf") format("truetype");
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 69px 162px;
}

.footer {
  display: flex;
  padding: 50px;
}
.footer__title {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: #274C5B;
  font-weight: bold;
  line-height: 56px;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 15px;
}
.footer__title + img {
  float: left;
  padding-right: 10px;
  width: 39px;
  height: 56px;
  box-sizing: content-box;
}

.heading h1 {
  font-family: "Roboto", sans-serif;
  font-size: 70px;
  color: #274C5B;
}
.heading h2 {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  color: #274C5B;
}
.heading h3 {
  font-family: "Yellowtail", cursive;
  font-size: 36px;
  color: #7EB693;
}
.heading h4 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: #274C5B;
  padding-left: 20px;
}

.heading h1 {
  font-family: "Roboto", sans-serif;
  font-size: 70px;
  color: #274C5B;
}
.heading h2 {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  color: #274C5B;
}
.heading h3 {
  font-family: "Yellowtail", cursive;
  font-size: 36px;
  color: #7EB693;
}
.heading h4 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: #274C5B;
  padding-left: 20px;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("assets\fontsRoboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url("assets\fontsYellowtail-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Yellowtail-Regular";
  src: url("assets\fontsYellowtail-Regular.ttf") format("truetype");
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 69px 162px;
}

.footer {
  display: flex;
  padding: 50px;
}
.footer__title {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: #274C5B;
  font-weight: bold;
  line-height: 56px;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 15px;
}
.footer__title + img {
  float: left;
  padding-right: 10px;
  width: 39px;
  height: 56px;
  box-sizing: content-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  font-weight: bolder;
  color: #274C5B;
  display: flex;
  gap: 1rem;
}

.nav {
  display: flex;
  gap: 25px;
  padding-left: 170px;
}

.nav a {
  text-decoration: none;
  color: #274C5B;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bolder;
}

.search {
  padding-left: 150px;
}

.banner {
  display: grid;
  grid-template-columns: repeat 2, 1fr;
  grid-template-rows: 1fr;
  background-color: #F1EFF0;
  background-image: url(images/BannerBackground.png);
}

.slogan {
  width: 800px;
  display: grid;
  grid-column: 1/2;
  grid-template-rows: repeat 3, 1fr;
  align-content: center;
  padding-left: 260px;
}

.bannerpic {
  display: grid;
  grid-column: 2/3;
}

.knop {
  padding-top: 23px;
}

.centralpics {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin-top: 150px;
}

.mission {
  display: grid;
  grid-template-columns: repeat 2, 1fr;
  grid-template-rows: 1fr;
  background-color: #F9F8F8;
  margin-top: 190px;
}

.description {
  width: 705px;
  display: grid;
  grid-column: 2/3;
  grid-template-rows: repeat 3, 1fr;
  align-content: center;
  gap: 15px;
}

.text {
  font-family: "OpenSans", sans-serif;
  font-size: 18px;
  display: flex;
  padding-top: 10px;
}

.organicpromo {
  display: flex;
  justify-content: center;
  padding-top: 45px;
}

.certif {
  display: flex;
}

/* Footer Styles */
.container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex: 1;
}

.utility-pages,
.about,
.contact-us {
  display: inline;
  gap: 10px;
  width: 100%;
}

.utility-pages {
  order: 3;
}

.about {
  order: 2;
}

.utility-pages h4,
.about .logo h2,
.contact-info h4 {
  font-family: "Roboto", sans-serif, sans-serif;
  font-size: 24px;
  color: #274c5b;
  font-weight: 700;
  margin-bottom: 10px;
}

.utility-pages ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.utility-pages ul li {
  font-family: "OpenSans", sans-serif, sans-serif;
  font-size: 18px;
  margin-bottom: 32px;
  color: #515b5f;
}
.utility-pages ul li:last-child {
  margin-bottom: 0;
}
.utility-pages ul li a {
  text-decoration: none;
  color: inherit;
}
.utility-pages ul li a:hover {
  color: #191b1c;
}

.about .logo .logo-2 {
  width: 39px;
  height: 56px;
}

p .desc {
  margin-bottom: 10px;
}

.about .content p {
  font-family: "OpenSans", sans-serif, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #515b5f;
  margin-bottom: 30px;
}

.about .content .follow {
  display: flex;
  gap: 10px;
}

.about .content .follow img {
  width: 20px;
  height: 20px;
}

.contact-info address {
  font-family: "OpenSans", sans-serif, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #515b5f;
}

.copyright {
  position: fixed;
  font-family: "OpenSans", sans-serif, Helvetica;
  font-weight: 400;
  color: #515b5f;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 29.8px;
  white-space: nowrap;
}

.heading h1 {
  font-family: "Roboto", sans-serif;
  font-size: 70px;
  color: #274C5B;
}
.heading h2 {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  color: #274C5B;
}
.heading h3 {
  font-family: "Yellowtail", cursive;
  font-size: 36px;
  color: #7EB693;
}
.heading h4 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: #274C5B;
  padding-left: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  font-weight: bolder;
  color: #274C5B;
  display: flex;
  gap: 1rem;
}

.nav {
  display: flex;
  gap: 25px;
  padding-left: 170px;
}

.nav a {
  text-decoration: none;
  color: #274C5B;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bolder;
}

.search {
  padding-left: 150px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex: 1;
}

.box {
  width: 100%;
  max-width: 100%;
  position: relative;
}

.box__banner {
  width: 100%;
  display: flex;
}

.product-details {
  display: flex;
  align-items: flex-start;
  margin-left: 261px;
  margin-right: 322px;
  margin-top: 133px;
}
.product-details__tag {
  padding: 5px 12px 6px;
  background-color: #274c5b;
  border-radius: 8px;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
}
.product-details__img-promo {
  position: relative;
  width: 591px;
  height: 563px;
}
.product-details__name {
  position: relative;
  width: 382px;
  font-family: "Roboto-SemiBold", Helvetica;
  font-weight: 600;
  color: #274c5b;
  font-size: 40px;
  line-height: normal;
}
.product-details__content {
  margin-top: 10rem;
}
.product-details__description {
  margin-top: 27px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #515b5f;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 29.8px;
}
.product-details__add-to-cart {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 18px 19px 20px;
  position: relative;
  background-color: #274c5b;
  border-radius: 16px;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-left: 20px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  transition: background-color 0.3s ease;
}
.product-details__add-to-cart:hover {
  background-color: #3a6f82;
}
.product-details__label {
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #274c5b;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}
.product-details__quantity {
  margin-top: 35px;
}
.product-details__input {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 19px 1px 22px;
  position: relative;
  background-color: #ffffff;
  border-radius: 16px;
  border: 2px solid;
  border-color: #274c5b;
}

.product-buttons {
  margin-top: 90px;
  display: inline-flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 27px;
}
.product-buttons__desc {
  gap: 10px;
  padding: 20px 50px;
  position: relative;
  background-color: #274c5b;
  border-radius: 16px;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Open Sans-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.product-buttons__info {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 50px;
  margin-left: 20px;
  position: relative;
  background-color: #eff6f1;
  border-radius: 16px;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Open Sans-Bold", Helvetica;
  font-weight: 700;
  color: #274c5b;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.product-buttons__description {
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #515b5f;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 29.8px;
  margin-top: 27px;
}

.utility-pages,
.about,
.contact-us {
  display: inline;
  gap: 10px;
  width: 100%;
}

.utility-pages {
  order: 3;
}

.about {
  order: 2;
}

.utility-pages h4,
.about .logo h2,
.contact-info h4 {
  font-family: "Roboto", sans-serif, sans-serif;
  font-size: 24px;
  color: #274c5b;
  font-weight: 700;
  margin-bottom: 10px;
}

.utility-pages ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.utility-pages ul li {
  font-family: "OpenSans", sans-serif, sans-serif;
  font-size: 18px;
  margin-bottom: 32px;
  color: #515b5f;
}
.utility-pages ul li:last-child {
  margin-bottom: 0;
}
.utility-pages ul li a {
  text-decoration: none;
  color: inherit;
}
.utility-pages ul li a:hover {
  color: #191b1c;
}

.about .logo .logo-2 {
  width: 39px;
  height: 56px;
}

p .desc {
  margin-bottom: 10px;
}

.about .content p {
  font-family: "OpenSans", sans-serif, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #515b5f;
  margin-bottom: 30px;
}

.about .content .follow {
  display: flex;
  gap: 10px;
}

.about .content .follow img {
  width: 20px;
  height: 20px;
}

.contact-info address {
  font-family: "OpenSans", sans-serif, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #515b5f;
}

.copyright {
  position: fixed;
  font-family: "OpenSans", sans-serif, Helvetica;
  font-weight: 400;
  color: #515b5f;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 29.8px;
  white-space: nowrap;
}

/*# sourceMappingURL=style.css.map */
