@import '../_vars.scss';
@import '../_components.scss';
@import '../template.scss';

.container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex: 1;
}

.main-banner {
    display: flex;
    width: 100%; 
    max-width: 100%;
    height: 450px; 
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    background-image: url(/assets/images/singleImg/Banner.jpg);
    .box__label {
        margin-top: 184px;
        font-family: "Roboto-ExtraBold", Helvetica;
        font-weight: 800;
        color: #274c5b;
        font-size: 70px;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
        
    }
}


.product-details {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 88px;
    padding-left: 257px;
    position: relative;
    
    &__image {
    position: relative;
    width: 30%;
    height: 563px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f9f8f8;
    background-blend-mode: multiply;
    border-radius: 25px;
}

    &__tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 12px 6px;
    position: relative;
    background-color: #274c5b;
    border-radius: 8px;
    width: fit-content;
    margin-top: -1px;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

    &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    position: relative;
    width: 70%;
}

    &__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 27px;
    position: relative;
    flex: 0 0 auto;
}

    &__name-and-price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
    position: relative;
    flex: 0 0 auto;
}

    &__text-wrapper-2 {
    position: relative;
    margin-top: -1px;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #274c5b;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
}

    &__rating {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
    position: relative;
    flex: 0 0 auto;
}


    &__pricing {
    position: relative;
    display: flex;
    width: 155px;
    height: 34px;
    margin-right: -4px;
}

    &__text-wrapper-3 {
    position: absolute;
    left: 72px;
    font-family: "Open Sans-Bold", Helvetica;
    font-weight: 700;
    color: #274c5b;
    font-size: 21px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}


    &__text-wrapper-4 {
    position: relative;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #b7b7b7;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}


    &__dummy-text {
        position: relative;
        width: 658px;
        margin-top: 27px;
        font-family: "Open Sans-Regular", Helvetica;
        font-weight: 400;
        color: #515b5f;
        font-size: 18px;
        letter-spacing: 0;
        line-height: 29.8px;
}

    &__button {
    display: flex;
    width: 476px;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    flex: 0 0 auto;
}

    &__element {
    display: flex;
    width: 243px;
    align-items: center;
    gap: 22px;
    position: relative;
}

    &__text-wrapper-5 {
    position: relative;
    width: fit-content;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    color: #274c5b;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

    &__div-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 28px 61px 29px;
    position: relative;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-radius: 16px;
    border: 2px solid;
    border-color: #274c5b;
}

    &__text-wrapper-6 {
    position: relative;
    width: fit-content;
    margin-top: -2px;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    color: #274c5b;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

    &__element-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 28px 39px 29px;
    position: relative;
    flex: 0 0 auto;
    background-color: #274c5b;
    border-radius: 16px;
}

    &__text {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
}

    &__text-wrapper-7 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

    &__arrow {
    position: relative;
    width: 19px;
    height: 19px;
    background-color: #335b6b;
    border-radius: 9.5px;
}

    &__vector {
    position: absolute;
    width: 8px;
    height: 7px;
    top: 6px;
    left: 5px;
}
}

.related-products {
    display: flex;
    position: relative;

    &__title {
        display: flex;
        justify-content: center;
        margin-top: 80px;
        font-family: "Roboto-ExtraBold", Helvetica;
        font-weight: 800;
        color: #274c5b;
        font-size: 50px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
    }

}

.product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 335px;
    height: 483px;
    border-radius: 30px;
    background-color: #F9F8F8;
    margin-top: 120px;
    margin-bottom: 200px;
    margin-left: 250px;
    margin-right: -227px;
    gap: 13px;
    &__name{
        font-family: "Roboto-SemiBold", Helvetica;
        font-weight: 600;
        color: #274c5b;
        font-size: 20px;
        text-align: center;
        margin-left: 30px;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
    }
    &__pricing{
        display: flex;
        width: 279px;
        align-items: center;
        gap: 45px;
        position: relative;
        margin-left: 30px;
    }
    &__tag {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 5px 12px 6px;
        position: relative;
        background-color: #274c5b;
        border-radius: 8px;
        font-family: "Open Sans-SemiBold", Helvetica;
        font-weight: 600;
        color: #ffffff;
        font-size: 15px;
    }
    &__img {
        position: relative;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        height: 300px;
        background-position: center;
        background-color: #f9f8f8;
        background-blend-mode: multiply;
    }
}

/* For screens up to 768px width */
@media screen and (max-width: 768px) {
    .container {
        justify-content: center;
        align-items: center;
    }

    .related-products {
        flex-direction: column;
        align-items: center;
    }

    .main-banner {
        height: 300px;
    }

    .product-details {
        margin-left: 0;
        width: 100%;
    }

    .product-details__image {
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    .product-details__content {
        width: 100%;
        margin-left: 0;
    }

    .product {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
        align-items: center;
    }
}

/* For screens up to 425px width */
@media screen and (max-width: 425px) {
    .container, .related-products {
        flex-direction: column;
        align-items: center;
    }

    .main-banner {
        height: 200px;
    }

    .product-details {
        margin-left: 0;
        width: 100%;
    }

    .product-details__image {
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    .product-details__content {
        width: 100%;
        margin-left: 0;
    }

    .product {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        align-items: center;
        margin-top: 10px; 
    }
}

/* For footer and header*/
@media screen and (min-width: 768px) and (max-width: 1023px)
        {
            header {
                padding: 20px;
                .nav {
                    padding-left: 40px;
                }
                .search {
                padding-left: 40px;
                .searchfield {
                    width:20vw;
                }
                .cartpic {
                    width: 9vw;
                }
            }
            }
            .banner {
                display:flex;
        }
        .centralpics {
            margin-top: 3rem;
            margin-left: 40rem;
        }
        .mission { 
            margin-top: 3rem;
            background-size: 100vw;
            display: flex;
            padding-left: 4rem;
            .missionpic { display: none;
            }
            .description {
                width: 100vw;
            }
            
        }}



@media screen and (min-width: 768px) and (max-width: 1023px)
            {
                header {
                    padding: 20px;
                    .nav {
                        padding-left: 40px;
                    }
                    .search {
                    padding-left: 40px;
                    .searchfield {
                        width:20vw;
                    }
                    .cartpic {
                        width: 9vw;
                    }
                }
                }
                .banner {
                    display:flex;
            }
            .centralpics {
                margin-top: 3rem;
                margin-left: 40rem;
            }
            .mission { 
                margin-top: 3rem;
                background-size: 100vw;
                display: flex;
                padding-left: 4rem;
                .missionpic { display: none;
                }
                .description {
                    width: 100vw;
                }
                
            }
            .footer {
                .utility-pages { display: none;
                }
                .contact-us {
                    padding-left: 5rem;  
                    width: 50%;
                }
                .about {
                    text-align:start;
                    align-items: start;
                    border-right: none;
                    padding-left: 5rem;
                    .follow,
                    .logo {
                        padding-left: 0;
                        }
                }
                }
                .legal {
                    border: none;
                    padding-left: 2rem;
                }
                }   